* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: purple;
}

.login-container{
    background-color: white;
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    box-shadow: 2px 2px 4px black;
    margin-top: 10vh;
}

.email-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.7rem;
    gap: 10px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-block{
    height: 60px;
    width: 300px;
    border-radius: 30px;
}

.pass{
    margin-bottom: 1rem;
}

.input-block::placeholder{
    padding: 5px;
}

.title{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
    font-family: sans-serif;
}

button{
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    color: purple;
    border: 2px solid purple;
    font-size: 1.2rem;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

button:hover{
    background-color: purple;
    color: white;
    transition: all 0.375s;
}